@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

}

:root {
    --primary: #007bff;
    --secondary: #343a40;
    --background: #f5f5f5;
    --accent: #ffc107;
  
}

body {
    margin: 0 auto;
    
    padding: 1rem;
    background-color: var(--background);
    max-width: 1440px;
    height: 100vh;
    color: var(--secondary);
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navLinks{
    display: flex;
    flex: 1;
    margin-left: clamp(2rem, 20%, 10rem);
    flex-direction: row;
    justify-content: space-between;
}

.navLinks a{
    text-decoration: none;
    color: var(--secondary);
}
.navLinks a.active{
    color: var(--accent);
    font-weight: 800;
}
.logo{
    color: var(--accent);
    font-weight: 900;
    font-size:x-large;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container_body{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_body h1 {
    color: var(--secondary);

}
.container_body.index form{
    display: flex;
    flex-direction: column;
    width: clamp(10rem, 70%, 25rem);
    gap: 0.5rem;
}

.container_body.index form input#sub  {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.container_body.index form input[type="button"] {
    padding: 0.5rem;
    border: none;
    background-color: #007bff;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.container_body.index{
    padding-top: 5rem;
    gap: 2rem;
}
.container_body.sign_in {
    justify-content: center;
    margin-top: -10rem;
}

#tagline{
    width: 40%;
    text-align: center;
    font-size: large;
    color: var(--secondary);
}
#tagline span{
    color: var(--accent);
}
.container_body button{
    color: var(--accent);
    background-color: var(--secondary);
    padding: 1rem 4rem;
    border: none;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
}
#notification{
    color: red;
}
.container_body.sign_in form {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 80%, 500px );
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}
.container_body.sign_in form input{
    padding: 0.7rem;
    border: solid 1px var(--primary);
    border-radius: 10px;
}
.container_body.sign_in form input[type="button"]{
    color: var(--accent);
    background-color: var(--primary);
    font-weight: 800;
    cursor: pointer;
}
.analysisBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
    justify-content: space-between;
}
.analysisBox .box{
    width: clamp(25rem, 60%, 30rem);
    background-color: #007bff;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.analysisBox .box h4, .tokenBySector h4 {
    color: white;
}

.analysisBox .box h2 {
    color: var(--accent);
}
.tokenBySector{
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tokenCategory{
    width: 100%;
}
.eachCategory{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    color: var(--accent);
}
.searchClient{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}
.searchClient input[type="button"]{
    width: clamp(6rem, 100%, 8rem);
    color: #f5f5f5;
    background-color: #007bff;
    cursor: pointer;
}
.searchClient input[type="search"] {
    flex: 1;
}
.searchClient input{
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}
.tokenHeaderAndAdd, .clientListHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.tokenHeaderAndAdd input{
    padding: 0.5rem;
    color: #007bff;
    background-color: white;
    width: clamp(4rem, 100%, 6rem);
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.tokenList, .clientList{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.eachToken{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #007bff;
    border-radius: 10px;

}
.modal{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
}
.modal .subscribers{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal .subscribers .eachSubClient{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.eachToken #tokenIdentifier{
    width: clamp(5rem, 100%, 6rem);
}
.eachToken #tokenName {
    width: clamp(8rem, 100%, 10rem);
    color: var(--accent);
    font-weight: 600;
}
.eachToken #tokenCategory {
    width: clamp(8rem, 100%, 15rem);
}
.eachToken #tokenPrice {
    width: clamp(5rem, 20%, 6rem);
    color: lightgreen;
}
.eachToken #riskLevel {
    width: clamp(5rem, 20%, 6rem);
    color: var(--secondary)
}
.eachToken input[type="button"]{
    width: clamp(6rem, 100%, 8rem);
    background-color: #007bff;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.eachToken .eachTokenButtons{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
}
.eachClient{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--primary);
    padding: 1rem;
    align-items: center;
    border-radius: 10px;

}
.clientInfo{
    width: clamp(10rem, 100%, 35rem);
}
.clientName{
    font-weight: 800;
}
.clientInfo ul{
    display: flex;
    margin-block: 0;
    flex-direction: column;
    padding-inline-start: 1rem;
}
.riskTolerance{
    margin-top: 1rem;
}
